test/flows/relation-test-flow.json
[
  {
    "id": "d0ab106f5bea30e2",
    "type": "tab",
    "label": "Relation Test Flow",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "3eea05195f0e48a5",
    "type": "surrealdb-insert",
    "z": "d0ab106f5bea30e2",
    "name": "",
    "connection": "3ed216d821be7670",
    "table": "person",
    "mode": "insert",
    "x": 470,
    "y": 200,
    "wires": [["25b908f6d1d1410c"]]
  },
  {
    "id": "7c044d8e6d8cd2c1",
    "type": "surrealdb-insert",
    "z": "d0ab106f5bea30e2",
    "name": "",
    "connection": "3ed216d821be7670",
    "table": "address",
    "mode": "insert",
    "x": 470,
    "y": 240,
    "wires": [["c476cbf4102a90d7"]]
  },
  {
    "id": "48186c5448312db7",
    "type": "template",
    "z": "d0ab106f5bea30e2",
    "name": "",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "[\n    {\n        \"id\": \"p1\",\n        \"name\": \"Test Person 1\"\n    },\n    {\n        \"id\": \"p2\",\n        \"name\": \"Test Person 2\"\n    },\n    {\n        \"id\": \"p3\",\n        \"name\": \"Test Person 3\"\n    }\n]",
    "output": "json",
    "x": 260,
    "y": 200,
    "wires": [["3eea05195f0e48a5"]]
  },
  {
    "id": "694e854635bfc00e",
    "type": "inject",
    "z": "d0ab106f5bea30e2",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 200,
    "wires": [["48186c5448312db7"]]
  },
  {
    "id": "7c102a0af689d0d3",
    "type": "template",
    "z": "d0ab106f5bea30e2",
    "name": "",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "[\n    {\n        \"id\": \"a1\",\n        \"street\": \"Teststraße 1\"\n    },\n    {\n        \"id\": \"a2\",\n        \"street\": \"Teststraße 2\"\n    }\n]",
    "output": "json",
    "x": 260,
    "y": 240,
    "wires": [["7c044d8e6d8cd2c1"]]
  },
  {
    "id": "fe387bf146f888e7",
    "type": "inject",
    "z": "d0ab106f5bea30e2",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 240,
    "wires": [["7c102a0af689d0d3"]]
  },
  {
    "id": "25b908f6d1d1410c",
    "type": "debug",
    "z": "d0ab106f5bea30e2",
    "name": "inserted persons",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 710,
    "y": 200,
    "wires": []
  },
  {
    "id": "c476cbf4102a90d7",
    "type": "debug",
    "z": "d0ab106f5bea30e2",
    "name": "inserted addresses",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 710,
    "y": 240,
    "wires": []
  },
  {
    "id": "873e0f9d228d76fb",
    "type": "surrealdb-relate",
    "z": "d0ab106f5bea30e2",
    "name": "",
    "connection": "3ed216d821be7670",
    "from": "person:p1",
    "relation": "lives",
    "to": "address:a1",
    "x": 440,
    "y": 300,
    "wires": [["8125b82cb1143609"]]
  },
  {
    "id": "8125b82cb1143609",
    "type": "debug",
    "z": "d0ab106f5bea30e2",
    "name": "related a1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 300,
    "wires": []
  },
  {
    "id": "47d3ea8a28d77131",
    "type": "inject",
    "z": "d0ab106f5bea30e2",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 300,
    "wires": [["873e0f9d228d76fb", "02e641eb08d6fcba"]]
  },
  {
    "id": "02e641eb08d6fcba",
    "type": "surrealdb-relate",
    "z": "d0ab106f5bea30e2",
    "name": "",
    "connection": "3ed216d821be7670",
    "from": "person:p2",
    "relation": "lives",
    "to": "address:a1",
    "x": 440,
    "y": 340,
    "wires": [["8125b82cb1143609"]]
  },
  {
    "id": "48f71ae99d3013ea",
    "type": "surrealdb-relate",
    "z": "d0ab106f5bea30e2",
    "name": "",
    "connection": "3ed216d821be7670",
    "from": "person:p3",
    "relation": "lives",
    "to": "address:a2",
    "x": 440,
    "y": 380,
    "wires": [["3cf3372fc3d087b6"]]
  },
  {
    "id": "3cf3372fc3d087b6",
    "type": "debug",
    "z": "d0ab106f5bea30e2",
    "name": "related a1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 380,
    "wires": []
  },
  {
    "id": "fcb023e9e812e9d7",
    "type": "inject",
    "z": "d0ab106f5bea30e2",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 380,
    "wires": [["48f71ae99d3013ea", "2a8b5c27a27e98b3"]]
  },
  {
    "id": "2a8b5c27a27e98b3",
    "type": "surrealdb-relate",
    "z": "d0ab106f5bea30e2",
    "name": "",
    "connection": "3ed216d821be7670",
    "from": "person:p2",
    "relation": "searches",
    "to": "address:a2",
    "x": 440,
    "y": 420,
    "wires": [["3cf3372fc3d087b6"]]
  },
  {
    "id": "3ed216d821be7670",
    "type": "surrealdb-config",
    "name": "",
    "url": "ws://surrealdb:8000",
    "namespace": "test",
    "database": "test",
    "authType": "credentials",
    "username": "",
    "minConnections": "2",
    "maxConnections": 5,
    "healthCheckIntervalMs": 30000,
    "retryAttempts": 5,
    "retryDelayMs": 1000,
    "validateConnection": true,
    "tokenRefreshSkewSec": 60
  },
  {
    "id": "63db342046fcb985",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-contrib-surrealdb": "0.1.0"
    }
  }
]
