test/flows/simple-test-flow.json
[
  {
    "id": "2e6b3dd164bee1b9",
    "type": "tab",
    "label": "Simple Test Flow",
    "disabled": false,
    "info": ""
  },
  {
    "id": "6f0ae90023d11cdf",
    "type": "surrealdb-insert",
    "z": "2e6b3dd164bee1b9",
    "name": "",
    "connection": "0dc9098ab8f5de43",
    "table": "testtable",
    "x": 340,
    "y": 220,
    "wires": [["04b94dc8c1fa814d", "19de86b072cdb2fd"]]
  },
  {
    "id": "eb09a58e231f6d42",
    "type": "inject",
    "z": "2e6b3dd164bee1b9",
    "name": "Hauptperson",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\t    \"id\": \"test\",\t    \"name\": \"Test\",\t    \"mail\": \"test@example.com\",\t    \"active\": true,\t    \"created\": $now()\t}",
    "payloadType": "jsonata",
    "x": 150,
    "y": 160,
    "wires": [["6f0ae90023d11cdf"]]
  },
  {
    "id": "04b94dc8c1fa814d",
    "type": "debug",
    "z": "2e6b3dd164bee1b9",
    "name": "insert",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 510,
    "y": 220,
    "wires": []
  },
  {
    "id": "2e506a684ebc8fff",
    "type": "surrealdb-select",
    "z": "2e6b3dd164bee1b9",
    "name": "",
    "connection": "0dc9098ab8f5de43",
    "table": "testtable",
    "recordId": "",
    "x": 360,
    "y": 280,
    "wires": [["3c3f8519e5cbb584"]]
  },
  {
    "id": "19de86b072cdb2fd",
    "type": "delay",
    "z": "2e6b3dd164bee1b9",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 160,
    "y": 280,
    "wires": [["2e506a684ebc8fff"]]
  },
  {
    "id": "3c3f8519e5cbb584",
    "type": "debug",
    "z": "2e6b3dd164bee1b9",
    "name": "select all",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 540,
    "y": 280,
    "wires": []
  },
  {
    "id": "449d94670f3976e5",
    "type": "surrealdb-live",
    "z": "2e6b3dd164bee1b9",
    "name": "",
    "connection": "0dc9098ab8f5de43",
    "table": "testtable",
    "x": 290,
    "y": 100,
    "wires": [["8f0132593e319ec6"]]
  },
  {
    "id": "8f0132593e319ec6",
    "type": "debug",
    "z": "2e6b3dd164bee1b9",
    "name": "live-query",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 460,
    "y": 100,
    "wires": []
  },
  {
    "id": "360fd54bbc2f97f2",
    "type": "inject",
    "z": "2e6b3dd164bee1b9",
    "name": "start",
    "props": [
      {
        "p": "command",
        "v": "start",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 130,
    "y": 60,
    "wires": [["449d94670f3976e5"]]
  },
  {
    "id": "2d4f3af70d690fc9",
    "type": "inject",
    "z": "2e6b3dd164bee1b9",
    "name": "stop",
    "props": [
      {
        "p": "command",
        "v": "stop",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 130,
    "y": 100,
    "wires": [["449d94670f3976e5"]]
  },
  {
    "id": "eae02ff335b3782a",
    "type": "surrealdb-modify",
    "z": "2e6b3dd164bee1b9",
    "name": "",
    "connection": "0dc9098ab8f5de43",
    "table": "testtable",
    "recordId": "test",
    "mode": "patch",
    "x": 390,
    "y": 340,
    "wires": [["a6491be72164dd05"]]
  },
  {
    "id": "ddf765e2018226bd",
    "type": "inject",
    "z": "2e6b3dd164bee1b9",
    "name": "Zufallsperson",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "(\t    $num:=$round($random()*100, 0);\t{\t    \"name\": \"Test \"&$num,\t    \"mail\": \"test-\"&$num&\"@example.com\",\t    \"active\": true,\t    \"created\": $now()\t}\t)",
    "payloadType": "jsonata",
    "x": 150,
    "y": 220,
    "wires": [["6f0ae90023d11cdf"]]
  },
  {
    "id": "bb0c2bb51d2b22e7",
    "type": "inject",
    "z": "2e6b3dd164bee1b9",
    "name": "Hauptperson patch",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[\t    { op: 'replace', path: '/mail', value: 'patched@example.com' },\t    { op: 'add', path: '/updated', value: $now() }\t]",
    "payloadType": "jsonata",
    "x": 170,
    "y": 340,
    "wires": [["eae02ff335b3782a"]]
  },
  {
    "id": "a6491be72164dd05",
    "type": "debug",
    "z": "2e6b3dd164bee1b9",
    "name": "patch Hauptperson",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 610,
    "y": 340,
    "wires": []
  },
  {
    "id": "b058603e5054375d",
    "type": "inject",
    "z": "2e6b3dd164bee1b9",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 190,
    "y": 300,
    "wires": [["2e506a684ebc8fff"]]
  },
  {
    "id": "2595563a77ef7307",
    "type": "surrealdb-select",
    "z": "2e6b3dd164bee1b9",
    "name": "",
    "connection": "0dc9098ab8f5de43",
    "table": "testtable",
    "recordId": "test",
    "x": 500,
    "y": 160,
    "wires": [["6c9a2e1d0a02de7e"]]
  },
  {
    "id": "6c9a2e1d0a02de7e",
    "type": "debug",
    "z": "2e6b3dd164bee1b9",
    "name": "select Hauptperson",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 710,
    "y": 160,
    "wires": []
  },
  {
    "id": "83f02ccf7d02a87e",
    "type": "inject",
    "z": "2e6b3dd164bee1b9",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 330,
    "y": 160,
    "wires": [["2595563a77ef7307"]]
  },
  {
    "id": "0dc9098ab8f5de43",
    "type": "surrealdb-config",
    "name": "",
    "url": "ws://surrealdb:8000",
    "namespace": "test",
    "database": "test",
    "authType": "credentials",
    "username": "",
    "minConnections": "2",
    "maxConnections": 5,
    "healthCheckIntervalMs": 30000,
    "retryAttempts": 5,
    "retryDelayMs": 1000,
    "validateConnection": true,
    "tokenRefreshSkewSec": 60
  },
  {
    "id": "ef3b46be1fc74bc2",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-contrib-surrealdb": "0.1.0"
    }
  }
]
