test/flows/simple-test-flow.json
[
  {
    "id": "6e9c0c069d19a31f",
    "type": "tab",
    "label": "Simple Test Flow",
    "disabled": false,
    "info": ""
  },
  {
    "id": "cb67281e04455c2a",
    "type": "surrealdb-insert",
    "z": "6e9c0c069d19a31f",
    "name": "",
    "connection": "3ed216d821be7670",
    "table": "testtable",
    "x": 370,
    "y": 220,
    "wires": [["ed126fb7ae6ae0ec", "5796e6db4d1dcc12"]]
  },
  {
    "id": "d8027c82f8a984e7",
    "type": "inject",
    "z": "6e9c0c069d19a31f",
    "name": "Hauptperson",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\t    \"id\": \"test\",\t    \"name\": \"Test\",\t    \"mail\": \"test@example.com\",\t    \"active\": true,\t    \"created\": $now()\t}",
    "payloadType": "jsonata",
    "x": 150,
    "y": 160,
    "wires": [["cb67281e04455c2a"]]
  },
  {
    "id": "ed126fb7ae6ae0ec",
    "type": "debug",
    "z": "6e9c0c069d19a31f",
    "name": "insert",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 220,
    "wires": []
  },
  {
    "id": "9568de207b6d7457",
    "type": "surrealdb-select",
    "z": "6e9c0c069d19a31f",
    "name": "",
    "connection": "3ed216d821be7670",
    "table": "testtable",
    "recordId": "",
    "x": 640,
    "y": 280,
    "wires": [["9eb7edad50b56a08"]]
  },
  {
    "id": "5796e6db4d1dcc12",
    "type": "delay",
    "z": "6e9c0c069d19a31f",
    "name": "",
    "pauseType": "rate",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 180,
    "y": 280,
    "wires": [["3ec2b173589647ae"]]
  },
  {
    "id": "9eb7edad50b56a08",
    "type": "debug",
    "z": "6e9c0c069d19a31f",
    "name": "select all",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 280,
    "wires": []
  },
  {
    "id": "c84e32f116c7918c",
    "type": "surrealdb-live",
    "z": "6e9c0c069d19a31f",
    "name": "",
    "connection": "3ed216d821be7670",
    "table": "testtable",
    "x": 330,
    "y": 100,
    "wires": [["9f95c508c018ab11"]]
  },
  {
    "id": "9f95c508c018ab11",
    "type": "debug",
    "z": "6e9c0c069d19a31f",
    "name": "live-query",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 540,
    "y": 100,
    "wires": []
  },
  {
    "id": "8b3c150f9cccf7e8",
    "type": "inject",
    "z": "6e9c0c069d19a31f",
    "name": "start",
    "props": [
      {
        "p": "command",
        "v": "start",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 130,
    "y": 60,
    "wires": [["c84e32f116c7918c"]]
  },
  {
    "id": "e5fe066d2e5790d8",
    "type": "inject",
    "z": "6e9c0c069d19a31f",
    "name": "stop",
    "props": [
      {
        "p": "command",
        "v": "stop",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 130,
    "y": 100,
    "wires": [["c84e32f116c7918c"]]
  },
  {
    "id": "1042bc5763f91a2f",
    "type": "surrealdb-modify",
    "z": "6e9c0c069d19a31f",
    "name": "",
    "connection": "3ed216d821be7670",
    "table": "testtable",
    "recordId": "test",
    "mode": "patch",
    "x": 430,
    "y": 360,
    "wires": [["003326b9a32245be"]]
  },
  {
    "id": "c879b05b25c78643",
    "type": "inject",
    "z": "6e9c0c069d19a31f",
    "name": "Zufallsperson",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "(\t    $num:=$round($random()*100, 0);\t{\t    \"name\": \"Test \"&$num,\t    \"mail\": \"test-\"&$num&\"@example.com\",\t    \"active\": true,\t    \"created\": $now()\t}\t)",
    "payloadType": "jsonata",
    "x": 150,
    "y": 220,
    "wires": [["cb67281e04455c2a"]]
  },
  {
    "id": "e84af12757bcf53f",
    "type": "inject",
    "z": "6e9c0c069d19a31f",
    "name": "Hauptperson patch",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[\t    { op: 'replace', path: '/mail', value: 'patched@example.com' },\t    { op: 'add', path: '/updated', value: $now() }\t]",
    "payloadType": "jsonata",
    "x": 170,
    "y": 360,
    "wires": [["1042bc5763f91a2f"]]
  },
  {
    "id": "003326b9a32245be",
    "type": "debug",
    "z": "6e9c0c069d19a31f",
    "name": "patch Hauptperson",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 360,
    "wires": []
  },
  {
    "id": "340cf31fcf44deed",
    "type": "inject",
    "z": "6e9c0c069d19a31f",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 430,
    "y": 320,
    "wires": [["9568de207b6d7457"]]
  },
  {
    "id": "ca1b32eec3363996",
    "type": "surrealdb-select",
    "z": "6e9c0c069d19a31f",
    "name": "",
    "connection": "3ed216d821be7670",
    "table": "testtable",
    "recordId": "test",
    "x": 550,
    "y": 160,
    "wires": [["0744d8c4e553ca15"]]
  },
  {
    "id": "0744d8c4e553ca15",
    "type": "debug",
    "z": "6e9c0c069d19a31f",
    "name": "select Hauptperson",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 810,
    "y": 160,
    "wires": []
  },
  {
    "id": "8bd48d8e1484815d",
    "type": "inject",
    "z": "6e9c0c069d19a31f",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 330,
    "y": 160,
    "wires": [["ca1b32eec3363996"]]
  },
  {
    "id": "3ec2b173589647ae",
    "type": "delay",
    "z": "6e9c0c069d19a31f",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 400,
    "y": 280,
    "wires": [["9568de207b6d7457"]]
  },
  {
    "id": "3ed216d821be7670",
    "type": "surrealdb-config",
    "name": "",
    "url": "ws://surrealdb:8000",
    "namespace": "test",
    "database": "test",
    "authType": "credentials",
    "username": "",
    "minConnections": "2",
    "maxConnections": 5,
    "healthCheckIntervalMs": 30000,
    "retryAttempts": 5,
    "retryDelayMs": 1000,
    "validateConnection": true,
    "tokenRefreshSkewSec": 60
  },
  {
    "id": "65ffd7081a2357e7",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-contrib-surrealdb": "0.1.0"
    }
  }
]
